@font-face {
    font-family: 'Beaufort for LOL';
    src: url('Beaufort for LOL Bold.ttf') format('truetype');
}

html
{
    background-color: rgb(90, 163, 7);
    color: rgba(247, 199, 86, 0.986);

}

body
{
    z-index: 2;
    position: relative;
    font-family: "Beaufort for Lol";
    padding:0;margin:0;
    height: 1000px;
}

a, a:visited, a:hover, a:active {
    color: aliceblue;
    text-decoration:none;
}
a:hover
{
    background-color: rgba(255, 255, 253, 0.3);
    padding: 3px;
    text-decoration: none;

}

header
{
    position: fixed;
    color: aliceblue;
    background-color: rgb(50,50,50);
    height: 45px;
    width: 100%;
    top:0;
    left: 0;
    font-size: 1.3em;
    z-index: 1;

}
nav
{
    color: aliceblue;
    position: fixed;
    right: 10px;
    font-size: 1.3em;
}

#menu
{
    position: fixed;
    left: 10px;

}

h1
{
    font-size: 3em;
}

h3
{
    font-size: 2em;
}
#presentation
{
    position: relative;
    color: rgba(247, 199, 86, 0.986);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.3em;
    height: 770px;
}

#ressources
{   
    position: relative;
    height: 750px;
}

#logos1
{
    text-align: center;
    position: relative;
    float:left;
    left: 175px;
    border: 1.5px groove red;
    padding: 25px;
    width: 32%;
}

h2
{
    text-align: center;
    font-size: 2.7em;
    margin-bottom:70px;
}

#logos1:hover , #logos2:hover
{
    position: relative;
    background-color: red!important;    
}

#logos2
{
    text-align: center;
    position: relative;
    display: block;
    float:right;
    right: 175px;
    border: 1.5px groove red;
    padding: 25px;
    width: 32%;
}

#ligne2
{
    position: relative;
    top: 100px;
}


footer
{
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    background-color: rgb(50,50,50);
    height: 100px;
}

