@font-face {
    font-family: 'Beaufort for LOL';
    src: url('Beaufort for LOL Bold.ttf') format('truetype');
}

body
{
    background-color: rgb(90, 163, 7);


}
a, a:visited, a:hover, a:active {
    color: aliceblue;
    text-decoration:none;
}
a:hover
{
    background-color: rgba(255, 255, 253, 0.3);
    padding: 3px;
    text-decoration: none;

}

header
{
    position: fixed;
    color: aliceblue;
    background-color: rgb(50,50,50);
    height: 45px;
    width: 100%;
    top:0;
    left: 0;
    font-size: 1.3em;

}
nav
{
    color: aliceblue;
    position: fixed;
    right: 10px;
    font-size: 1.3em;
}

#menu
{
    position: fixed;
    left: 10px;

}

h1
{
    font-size: 3em;
}

h3
{
    font-size: 2em;
}
#presentation
{
    top: 150px;
    color: rgba(247, 199, 86, 0.986);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Beaufort for Lol";
    font-size: 1.3em;

}

footer
{
    position:absolute;
    width: 99%;
    bottom: 0%;
    background-color: rgb(50,50,50);
    height: 100px;
}

#droitauteur
{
    font-size: 10px;
    color: aliceblue;
}